<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.remembermedicine">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_medicine_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RememberMedicine">
        <receiver
            android:name=".MyReceiverNotification"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="send.info" />
            </intent-filter>
        </receiver>

        <activity android:name=".showMedicine" />
        <activity android:name=".to_Register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>